html, body {
    background: #333;
    width: 100%;
    height: 100%;
}

.progress-radial {
    position: relative;
    display: block;
    margin-left: 50%;
    transform: translate(-50%, 50%);
}

.progress-radial-track {
    fill: #247fd8;
}

.progress-radial-bar {
    fill: white;
}